:root {
  --primary-blue: #0c5c8c;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
